{% extends 'base.html' %}

{% block content %}
<h1>Create a user</h1>
<form action="/users/new" method="POST">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" value="" required placeholder="Enter a first name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" value="" required placeholder="Enter a last name">
    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" id="image_url" value="" placeholder="Provide an image of this user">
    <button>Add</button>
</form>

{% endblock %}